body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to bottom right, rgb(98, 21, 170), pink);
}

h1 {
  font-size: 80px;
  text-align: center;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-wrapper {
  padding: 20px;
}

.btn-new {
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: #0B63F6;
  box-shadow: 0 5px 0 #003CC5;
  width: 100px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
.btn-new:hover {
  background: #003CC5;
  box-shadow: none;
  top: 25px;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

#niga {
  border-radius: 15px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  animation: glow 1.5s infinite alternate;
}

p {
  font-size: 36px;
  color: whitesmoke;
  text-align: center;
  max-width: 400px;
}

.conteiner {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.photo-card {
  position: relative;
  width: 300px;
  height: 200px;
}

.fotki {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  animation: glow 1.5s infinite alternate;
  background: transparent;
}

.photo-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.photo-button:hover {
  background-color: #d81b60;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.4), 0 0 20px rgba(255, 105, 180, 0.4);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 0, 255, 0.8), 0 0 50px rgba(255, 105, 180, 0.7);
  }
}
